<p>Recuperação de senha do Twister</p>
<p>Para recuperar seua senha acesse o link a seguir e preencha os dados solicitados no formulário.</p>
<p><%= link_to "Recuperar Senha", reset_password_url(token: @user.reset_password_token) %></p>