<!-- Modal -->
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recuperar senha</h5>
        <!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
        <!--          <span aria-hidden="true">&times;</span>-->
        <!--        </button>-->
      </div>
        <div class="modal-body">
          <p>O E-mail para a recuperação de senha foi enviado com sucesso. Acesse seu E-mail para continuar com o processo de recuperação de senha.</p>
        </div>
        <div class="modal-footer">
          <%= link_to "Cadastre-se aqui", user_register_path, class: "btn btn-link" %>
        </div>
    </div>
  </div>
</div>
<script type="application/javascript">
    $(document).ready(function(){
        $("#register_modal").modal("toggle")
    })
</script>