<div class="card">
  <div class="card-header">
    <h4 class="card-title"><strong>Recuperar senha</strong></h4>
  </div>

  <%= form_with scope: :user, url: recovery_password_path, method: :post, html: {class: ""} do |form| %>
    <div class="card-body">
      <p class="text-info">
        Acesse seu email e siga o link para continuar com a recuperação de senha.
      </p>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <%= link_to "Continuar", user_login_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<% content_for(:after_content) do %>
  Já tem conta?
  <%= link_to "Ir para o login", user_login_path, class: "btn btn-link" %>
<% end %>