<div class="bg-light border-right" id="sidebar-wrapper">
  <!--      <div class="sidebar-heading">Start Bootstrap </div>-->
  <div class="list-group list-group-flush">
    <a href="<%= root_path %>" class="list-group-item list-group-item-action bg-light">Posts</a>
  </div>
</div>