<section class="sidebar" >

  <div class="list-group list-group-flush">
    <a href="<%= posts_path %>" class="list-group-item list-group-item-action"><strong>Posts</strong></a>
  </div>

  <div class="list-group list-group-flush">
    <a href="<%= chats_path %>" class="list-group-item list-group-item-action"><strong>Chats</strong></a>
  </div>

</section>