<div id="twister-topbar">

  <nav class="navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><%= image_tag("logo/logo2.png", width: '120px') %></a>

      <form class="d-flex">
        <a class="navbar-brand" href="#"><%= image_tag("logo/+2.png", width: '30px') %></a>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>

    </div>
  </nav>

</div>