<section class="header ">

  <div class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><%= image_tag("logo/logo2.png", width: '120px') %></a>

      <ul class="nav navbar-nav ml-auto">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
              Olá, <%= current_user.name %> <b class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Dados pessoais</a>
              <a class="dropdown-item" href="#">Preferências</a>
              <div class="dropdown-divider"></div>
              <%= link_to "Sair", user_logout_path, class: "dropdown-item", method: :delete %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</section>